@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@100;400&display=swap");
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-repeat: no-repeat;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main-header {
  height: 612px;
  width: auto;
  background-image: url(../img/bruce-mars.jpg);
  background-size: cover;
  background-color: #CF79BB;
  background-blend-mode: multiply;
}

.main-header2 {
  background-image: url(../img/bruce-mars.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-nav,
.main-nav__nav-links {
  display: flex;
  align-items: stretch;
}

.main-nav__nav-link {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  display: inline;
}

.main-nav__whatsapp-icon {
  color: #FFFFFF;
}

.main-nav__nav-button {
  text-transform: uppercase;
  color: #FCF347;
  border: 3px solid #FCF347;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.info-block {
  text-align: center;
}

.info-block__info-logo {
  height: 50%;
  width: auto;
}

.info-block__coach-title {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: 0.155em;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.info-block__school-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.info-block__call-btn,
.about-author__call-btn,
.call-btn {
  box-shadow: 5px 5px 20px #000000;
  text-transform: uppercase;
  background-color: #FCF347;
  font-weight: bold;
  color: #4d4d4d;
  padding: 10px;
  border-radius: 45px;
  display: inline-block;
}

.about-author {
  background-image: url(../img/Header-logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-author__title {
  color: #4d4d4d;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  text-transform: uppercase;
  text-align: center;
}

.about-author__name {
  color: #4d4d4d;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.about-author__list {
  color: #4d4d4d;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.about-author__block {
  white-space: nowrap;
}

.pink-star {
  color: #CF79BB;
  display: inline-block;
  vertical-align: bottom;
}

.school-product {
  background: #CF79BB;
}

.school-product__title {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 59px;
  text-align: center;
  color: #FCF347;
  text-transform: uppercase;
}

.can-toggle {
  position: relative;
}
.can-toggle *, .can-toggle *:before, .can-toggle *:after {
  box-sizing: border-box;
}
.can-toggle input[type=checkbox] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.can-toggle input[type=checkbox][disabled] ~ label {
  pointer-events: none;
}
.can-toggle input[type=checkbox][disabled] ~ label .can-toggle__switch {
  opacity: 0.4;
}
.can-toggle input[type=checkbox]:checked ~ label .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: 0;
}
.can-toggle input[type=checkbox]:checked ~ label .can-toggle__switch:after {
  content: attr(data-checked);
}
.can-toggle label {
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;
}
.can-toggle label .can-toggle__label-text {
  flex: 1;
  padding-left: 32px;
}
.can-toggle label .can-toggle__switch {
  position: relative;
}
.can-toggle label .can-toggle__switch:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;
  text-transform: uppercase;
  text-align: center;
}
.can-toggle label .can-toggle__switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  transform: translate3d(0, 0, 0);
}
.can-toggle input[type=checkbox][disabled] ~ label {
  color: rgba(252, 243, 71, 0.5);
}
.can-toggle input[type=checkbox]:focus ~ label .can-toggle__switch, .can-toggle input[type=checkbox]:hover ~ label .can-toggle__switch {
  background-color: #FCF347;
}
.can-toggle input[type=checkbox]:focus ~ label .can-toggle__switch:after, .can-toggle input[type=checkbox]:hover ~ label .can-toggle__switch:after {
  color: #fbf015;
}
.can-toggle input[type=checkbox]:hover ~ label {
  color: #fcf12e;
}
.can-toggle input[type=checkbox]:checked ~ label:hover {
  color: #fcf238;
}
.can-toggle input[type=checkbox]:checked ~ label .can-toggle__switch {
  background-color: #fcf560;
}
.can-toggle input[type=checkbox]:checked ~ label .can-toggle__switch:after {
  color: #fcf12e;
}
.can-toggle input[type=checkbox]:checked:focus ~ label .can-toggle__switch, .can-toggle input[type=checkbox]:checked:hover ~ label .can-toggle__switch {
  background-color: #FCF347;
}
.can-toggle input[type=checkbox]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type=checkbox]:checked:hover ~ label .can-toggle__switch:after {
  color: #fbf015;
}
.can-toggle label .can-toggle__label-text {
  flex: 1;
}
.can-toggle label .can-toggle__switch {
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  background: #fcf560;
}
.can-toggle label .can-toggle__switch:before {
  color: #4d4d4d;
}
.can-toggle label .can-toggle__switch:after {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #4d4d4d;
}
.can-toggle input[type=checkbox]:focus ~ label .can-toggle__switch:after, .can-toggle input[type=checkbox]:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.can-toggle input[type=checkbox]:checked ~ label .can-toggle__switch:after {
  transform: translate3d(234px, 0, 0);
}
.can-toggle input[type=checkbox]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type=checkbox]:checked:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.can-toggle label {
  font-size: 14px;
}
.can-toggle label .can-toggle__switch {
  height: 55px;
  flex: 0 0 472px;
  border-radius: 100px;
}
.can-toggle label .can-toggle__switch:before {
  left: 236px;
  border-radius: 50px 1px 1px 50px;
  font-size: 12px;
  line-height: 55px;
  width: 236px;
  padding: 0 12px;
}
.can-toggle label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 1px 50px 50px 1px;
  width: 234px;
  line-height: 51px;
  font-size: 12px;
}
.can-toggle label .can-toggle__switch:hover:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  border-radius: 50px 1px 1px 50px;
}
.can-toggle.can-toggle--size-small input[type=checkbox]:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-small input[type=checkbox]:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.can-toggle.can-toggle--size-small input[type=checkbox]:checked ~ label .can-toggle__switch:after {
  transform: translate3d(44px, 0, 0);
}
.can-toggle.can-toggle--size-small input[type=checkbox]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-small input[type=checkbox]:checked:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.can-toggle.can-toggle--size-small label {
  font-size: 13px;
}
.can-toggle.can-toggle--size-small label .can-toggle__switch {
  height: 28px;
  flex: 0 0 90px;
  border-radius: 2px;
}
.can-toggle.can-toggle--size-small label .can-toggle__switch:before {
  left: 45px;
  border-radius: 1px 0.02px 0.02px 1px;
  font-size: 10px;
  line-height: 28px;
  width: 45px;
  padding: 0 12px;
}
.can-toggle.can-toggle--size-small label .can-toggle__switch:after {
  top: 1px;
  left: 1px;
  border-radius: 0.02px 1px 1px 0.02px;
  width: 44px;
  line-height: 26px;
  font-size: 10px;
}
.can-toggle.can-toggle--size-small label .can-toggle__switch:hover:after {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 1px 0.02px 0.02px 1px;
}
.can-toggle.can-toggle--size-large input[type=checkbox]:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-large input[type=checkbox]:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.can-toggle.can-toggle--size-large input[type=checkbox]:checked ~ label .can-toggle__switch:after {
  transform: translate3d(78px, 0, 0);
}
.can-toggle.can-toggle--size-large input[type=checkbox]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-large input[type=checkbox]:checked:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.can-toggle.can-toggle--size-large label {
  font-size: 14px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch {
  height: 50px;
  flex: 0 0 160px;
  border-radius: 4px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:before {
  left: 80px;
  border-radius: 2px 0.04px 0.04px 2px;
  font-size: 14px;
  line-height: 50px;
  width: 80px;
  padding: 0 12px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 0.04px 2px 2px 0.04px;
  width: 78px;
  line-height: 46px;
  font-size: 14px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:hover:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 2px 0.04px 0.04px 2px;
}

.coaching-block {
  width: 100%;
}

.coaching-block__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  color: #FCF347;
  text-transform: uppercase;
}

.coaching-block__info {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  color: #FFFFFF;
}

.lesson-txt {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #FFFFFF;
}

.skill-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FCF347;
}

.yellow-star {
  color: #FCF347;
}

.module {
  background: #E7BCDD;
  border-radius: 40px;
  padding: 40px;
}

.module__module-number {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #4d4d4d;
  opacity: opacity 0.7;
}

.module__module-period {
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
  color: #4d4d4d;
  opacity: opacity 0.7;
  text-transform: uppercase;
}

.module__module-title {
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #4d4d4d;
  opacity: opacity 0.7;
  text-transform: uppercase;
}

.module__module-list {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #000000;
  opacity: opacity 0.7;
}

.question-txt {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: left;
  color: #FCF347;
}

/*# sourceMappingURL=style.css.map */
