@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  //width: 100%;
  //font-family: Roboto Condensed;
  height: 100%;
  overflow-x: hidden;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}


$color: #E7BCDD;
$white: #FFFFFF;
$yellow: #FCF347;
$dark-gray: #736970;
$btn-radius: 45px;
$pink: #CF79BB;
$pink-bg: #F5E4F1;
$pink-light: #E7BCDD;
$gray: #4d4d4d;
$dark: #000000;
$opacity70: opacity 0.7;
$opacity50: opacity 0.5;


ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

div a {
  text-decoration: none;
  cursor: pointer;
  &:hover {
   color: $yellow;
   text-decoration: none;
  }
}

.main-header {
  height: 612px;
  width: auto;
  //opacity: 0.5;
  background-image: url(../img/bruce-mars.jpg);
  background-size: cover;
  background-color: rgba(207, 121, 187, 0.5);
  background-blend-mode: multiply;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.main-nav,
.main-nav__nav-links {
  display: flex;
  align-items: stretch;
}

.main-nav__nav-link {
  font-family: Roboto Condensed;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;

  text-transform: uppercase;
  color: $white;
  display: inline;
}

@media screen and (min-device-width: 1000px) {
  .main-nav__nav-link {
    font-size: 15px;
  }
}

.main-nav__whatsapp-icon {
  color: $white;
  font-size: 38px;
  //margin-top: 20px;
}

.main-nav__nav-button {
  text-transform: uppercase;
  color: $yellow;
  border: 3px solid $yellow;
  border-radius: 100px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  width: 171px;
  height: 34px;
  font-family: Roboto Condensed;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;

}

.info-block {
  text-align: center;
}

.info-block__info-logo {
  height: 50%;
  width: auto;
}

.info-block__coach-title {
  font-family: Roboto Condensed;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.155em;
  text-align: center;
  color: $white;
  text-transform: uppercase;
}

@media screen and (min-device-width: 1000px) {
  .info-block__coach-title {
    font-size: 64px;
    line-height: 89px;
  }
}

.info-block__school-title {
  font-family: Roboto Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: $white;
  text-transform: uppercase;
}

.info-block__call-btn,
.about-author__call-btn,
.call-btn {
  font-family: Roboto Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  background-color: $yellow;
  color: $gray;
  padding: 10px;
  border-radius: 45px;
  display: inline-block;
}

.info-block__call-btn,
.call-btn {
  box-shadow: 5px 5px 20px #000000;
}

.call-btn {
  width: 247px;
  height: 48px;
  text-align: center;
}

@media screen and (min-device-width: 1000px) {
  .about-author {
    background-image: url(../img/Header-logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    //background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.about-author__title,
.about-coaching__title {
  font-family: Roboto Condensed;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  color: $gray;
  text-transform: uppercase;
  text-align: center;
}

.about-author__name,
.about-coaching__name {
  font-family: Roboto Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: $gray;
  text-transform: uppercase;
}

.about-author__list {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: $gray;

}

.about-author__info {
  //font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  //letter-spacing: 0em;
  text-align: left;
  color: $dark;
  opacity: 0.7;
}

.about-author__block {

}

.about-author__call-btn {
  width: 279px;
  height: 54px;
  font-family: Roboto Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;

}

@media screen and (min-device-width: 1000px) {
  .about-author__block {
    white-space: nowrap;
  }
}

.pink-star {
  color: $pink;
  display: inline-block;
  vertical-align: bottom;
}

.school-product {
  background: $pink;
}

.school-product__title {
  font-family: Roboto Condensed;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: center;
  color: $yellow;
  text-transform: uppercase;
}

@mixin can-toggle-branding(
  $can-toggle-off-color: $yellow,
  $can-toggle-on-color: $yellow,
  $can-toggle-inactive-text: $gray,
   $can-toggle-transition: cubic-bezier(0,1,0.5,1)
) {

  input[type="checkbox"] {

    &[disabled] ~ label {
      color: rgba($can-toggle-off-color, 0.5);
    }

    &:focus ~ label, &:hover ~ label {
      .can-toggle__switch {
        background-color: $yellow;

        &:after {
          color: darken($yellow, 10%);
        }
      }
    }

    &:hover ~ label {
      color: darken($yellow, 5%);
    }

    &:checked {
      ~ label {
        &:hover {
          color: darken($yellow, 3%);
        }

        .can-toggle__switch {
          background-color: lighten($yellow, 5%);

          &:after {
            color: darken($yellow, 5%);
          }
        }
      }

      &:focus, &:hover {
        ~ label {
          .can-toggle__switch {
            background-color: $yellow;

            &:after {
              color: darken($yellow, 10%);
            }
          }
        }
      }
    }
  }

  label {

    .can-toggle__label-text {
      flex: 1;
    }

    .can-toggle__switch {
      transition: background-color 0.3s $can-toggle-transition;
      background: lighten($yellow, 5%);

      &:before {
        color: $can-toggle-inactive-text;
      }

      &:after {
        // Autoprefixer choked here, so making the prefixes explicit
        -webkit-transition: -webkit-transform 0.3s $can-toggle-transition;
        transition: transform 0.3s $can-toggle-transition;
        color: $gray;
      }
    }

  }
}

@mixin can-toggle-appearance(
  $can-toggle-width: 472px,
  $can-toggle-height: 55px,
  $can-toggle-border-radius: 100px,
  $can-toggle-offset: 2px,
  $can-toggle-label-font-size: 14px,
  $can-toggle-switch-font-size: 12px,
  $can-toggle-shadow: 0 3px 3px rgba(black, 0.4)
) {
  $can-toggle-switch-width: $can-toggle-width/2;

  input[type="checkbox"] {

    &:focus ~ label, &:hover ~ label {
      .can-toggle__switch {
        &:after {
          box-shadow: $can-toggle-shadow;
        }
      }
    }

    &:checked {
      ~ label {
        .can-toggle__switch {
          &:after {
            transform: translate3d($can-toggle-width - ($can-toggle-switch-width + $can-toggle-offset), 0, 0);
          }
        }
      }

      &:focus, &:hover {
        ~ label {
          .can-toggle__switch {
            &:after {
              box-shadow: $can-toggle-shadow;
            }
          }
        }
      }
    }
  }

  label {
    font-size: $can-toggle-label-font-size;

    .can-toggle__switch {
      height: $can-toggle-height;
      flex: 0 0 $can-toggle-width;
      border-radius: $can-toggle-border-radius;

      &:before {
        left: $can-toggle-width/2;
        border-radius: $can-toggle-border-radius/2 $can-toggle-border-radius/100 $can-toggle-border-radius/100 $can-toggle-border-radius/2;
        font-size: $can-toggle-switch-font-size;
        line-height: $can-toggle-height;
        width: $can-toggle-width/2;
        padding: 0 12px;
      }

      &:after {
        top: $can-toggle-offset;
        left: $can-toggle-offset;
        border-radius: $can-toggle-border-radius/100 $can-toggle-border-radius/2 $can-toggle-border-radius/2 $can-toggle-border-radius/100;
        width: $can-toggle-switch-width - $can-toggle-offset;
        line-height: $can-toggle-height - ($can-toggle-offset*2);
        font-size: $can-toggle-switch-font-size;
      }

      &:hover {
        &:after {
          box-shadow: $can-toggle-shadow;
          border-radius: $can-toggle-border-radius/2 $can-toggle-border-radius/100 $can-toggle-border-radius/100 $can-toggle-border-radius/2;
        }
      }
    }
  }
}


.can-toggle {
  position: relative;

  *, *:before, *:after {
    box-sizing: border-box;
  }

  //overflow: hidden;

  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;

    &[disabled] ~ label {
      pointer-events: none;

      .can-toggle__switch {
        opacity: 0.4;
      }
    }

    &:checked {
      ~ label {

        .can-toggle__switch {

          &:before {
            content: attr(data-unchecked);
            left: 0;
          }

          &:after {
            content: attr(data-checked);
          }
        }
      }

      &:focus, &:hover {
        ~ label {
        }
      }
    }
  }

  label {
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;

    .can-toggle__label-text {
      flex: 1;
      padding-left: 32px;
    }

    .can-toggle__switch {
      position: relative;

      &:before {
        content: attr(data-checked);
        position: absolute;
        top: 0;
        text-transform: uppercase;
        text-align: center;
      }

      &:after {
        content: attr(data-unchecked);
        position: absolute;
        z-index: 5;
        text-transform: uppercase;
        text-align: center;
        //background: $yellow;
        transform: translate3d(0, 0, 0);
      }

    }

  }

  // Default values for .can-toggle class
  @include can-toggle-branding;
  @include can-toggle-appearance;

  // Create toggles of different sizes by overriding the can-toggle-appearance mixin defaults
  &.can-toggle--size-small {
    @include can-toggle-appearance(
                    90px, // Toggle width
                    28px, // Toggle height
                    2px, // Toggle border radius
                    1px, // Offset (distance btw switch and box)
                    13px, // Label font size
                    10px, // Switch font size
                    0 2px 2px rgba(black, 0.4) // Switch shadow on hover/focus
    );
  }

  &.can-toggle--size-large {
    @include can-toggle-appearance(
                    160px, // Toggle width
                    50px, // Toggle height
                    4px, // Toggle border radius
                    2px, // Offset (distance btw switch and box)
                    14px, // Label font size
                    14px, // Switch font size
                    0 4px 4px rgba(black, 0.4) // Switch shadow on hover/focus
    );
  }
}

.coaching-block {
  width: 100%;
}

.coaching-block__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  color: $yellow;
  text-transform: uppercase;

}

.coaching-block__info {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  color: $white;
}

.lesson-txt {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: $white;
}

.skill-title {
  font-family: Roboto Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: $yellow;

}

.yellow-star {
  color: $yellow;
}

.module {
  background: $pink-light;
  border-radius: 40px;
  padding: 40px;
}

.module__module-number {
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $gray;
  opacity: $opacity70;

}

.module__module-period {
  font-family: Roboto Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
  color: $gray;
  opacity: $opacity70;
  text-transform: uppercase;
}

.module__module-title {
  font-family: Roboto Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: $gray;
  opacity: $opacity70;
  text-transform: uppercase;
}

.module__module-list {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: $dark;
  opacity: $opacity70;
}

.module__module-info {
  font-family: Roboto Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: $dark;
  opacity: 0.7;
  text-transform: uppercase;
}

.question-txt {
  font-family: Roboto Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: left;
  color: $yellow;
}

.question {
  font-family: Roboto Condensed;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.7;
  color: $dark;
}

.footer {
  background-color: $gray;
}

.top-btn {
  border: 3px solid $yellow;
  background: $white;
  box-sizing: border-box;
  border-radius: 10px;
}

.top-arrow {
  color: $pink;
  display: inline-block;
}

.top-txt {
  font-family: Roboto Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
  color: $pink;
}

.stage__stage-number {
  font-family: Montserrat;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  color: $pink;
}

.stage__stage-txt {
  font-family: Roboto Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  opacity: 0.7;
  color: $dark;
}

.toggle {
  display: inline-block;
  cursor: pointer;
}

.toggle__check {
  display: none;
}

.toggle__coaching,
.toggle__reload {
  width: 400px;
  height: 55px;
  overflow: hidden;
  background: $yellow;
  padding: 10px;
  display: inline-block;
  position: relative;
}

.toggle__coaching {
  border-radius: 100px 0 0 100px;
  border-right: 2px solid gray;
  box-shadow: 5px 5px 20px 0px #000000;
  overflow: hidden;

}

.toggle__coaching:before,
.toggle__reload:before {
  font-family: Roboto Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  color: $dark;
  opacity: 0.7;
  content: "";
  width: 350px;
  height: 55px;
  display: inline-block;
  background-size: 30px;
  background-repeat: no-repeat;
  transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  //border-right: 10px solid $pink;
}

.toggle__reload {
  border-radius: 0 100px 100px 0;
}

.toggle__coaching:before {
  content: "Лайф-коучинг";
  color: $gray;
  text-transform: uppercase;
}

.toggle__reload:before {
  content: "Тотальная перезагрузка";
  color: $gray;
  white-space: nowrap;
  opacity: 0.3;
  text-transform: uppercase;
}

input[type="checkbox"].toggle__check + .toggle__coaching:before {
  //transform: translateX(30px);
  opacity: 0.5;
}

input[type="checkbox"].toggle__check + .toggle__coaching + .toggle__reload:before {
  transform: translateX(10px);
  opacity: 0.5;
}

input[type="checkbox"].toggle__check:checked + .toggle__coaching:before {
  transform: translateX(0px);
  opacity: 1;
}

input[type="checkbox"].toggle__check:checked + .toggle__coaching + + .toggle__reload:before {
  transform: translateX(-70px);
  opacity: 1;
}

.footer__footer-copyright {
  color: $white;
}

.secondary-navigation {
  background-color: $pink;
}

.about-coaching__question,
.about-coaching__time,
.life-coaching__program__module,
.about-coaching__lesson {
  font-family: Roboto Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.about-coaching__question,
.life-coaching__program__module {
  color: $dark;
}

.about-coaching__time {
  color: $pink;
}

.life-coaching__program__title {
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  color: $dark;
}

.life-coaching__coaching-list__info,
.life-coaching__coaching-list__date {
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.life-coaching__program__article {
  font-family: Roboto Condensed;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.coach-module {
  background-color: $pink-bg;
  border-radius: 40px;
}

.video-block {
  border-radius: 10px;
}

.adaptivny-video-rolik {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.adaptivny-video-rolik iframe,
.adaptivny-video-rolik object,
.adaptivny-video-rolik embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-content {
  font-family: Roboto Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  border: 3px solid $yellow;
}

// Or re-brand the toggle for different applications


