@import 'fonts.css';

body {
    height: 100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    font-family: Roboto Condensed, sans-serif;
}

#top-btn:active,
#top-btn:focus {
    border: 3px solid #FCF347;
}

a:focus,
a:active {
    border: none;
    text-decoration: none;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.fullscreen {
    min-height: 100vh;
}

footer {
    height: auto;
    bottom: 0;
    z-index: 1000;
}

.middle {
    width: 100%;
    text-align: center;
}

.middle input[type=radio] {
    display: none;
}

.middle input[type=radio]:checked + .box span {
    color: #CF79BB;
    text-transform: uppercase;
    text-align: left;
}

.middle input[type=radio]:checked + .box span:before {
    opacity: 1;
}

.middle .box {
    width: 146px;
    height: 55px;
    background-color: #FCF347;
    will-change: transition;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-family: Roboto Condensed, serif;
    font-weight: 700;
}

.middle .box span {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 16px;
    user-select: none;
    text-transform: uppercase;
}

.middle .box span:before {
    font-size: 18px;
    text-transform: uppercase;
    font-family: FontAwesome, sans-serif;
    display: block;
    opacity: 0;
    font-weight: normal;
    color: white;
}

.middle .front-end {
    border-radius: 100px 0 0 100px;
}

.middle .front-end span:before {
    display: inline-block;
}

.middle .back-end {
    border-radius: 0 100px 100px 0;
}

.middle .back-end span:before {
    display: inline-block;
}

.main-nav__nav-logo,
.fab-icon {
    cursor: pointer;
}

.main-nav__nav-simple {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 98.69%;
    color: #FFFFFF;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

div a {
    text-decoration: none;
    cursor: pointer;
}

.main-nav__nav-link:hover {
    color: #FCF347;
    text-decoration: none;
}


.main-nav__nav-button:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.main-header,
.main-header__bg-top,
.main-header__bg-bottom {
    height: 612px;
    width: 100%;
}

.main-header {
        background: url('../img/Bg-photo.png') center center/cover no-repeat;
}

@media screen and (max-device-width: 1000px) {
    .main-header {
        background: url('../img/Bg-top-md.png') center center/cover no-repeat;
    }
}

.main-nav,
.main-nav__nav-links {
    display: flex;
    align-items: stretch;
}

.main-nav__nav-link {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline;
}

@media screen and (min-device-width: 1000px) {
    .main-nav__nav-link {
        font-size: 15px;
    }
}

.main-nav__whatsapp-icon {
    color: #FFFFFF;
    font-size: 38px;
}

.arrow-small {
    color: #FFFFFF;
   }


.info-block {

}

.info-block__info-logo {
    height: 50%;
    width: auto;
}

.info-block__coach-title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 138.69%;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    color: #FFFFFF;

}



@media screen and (min-device-width: 1000px) {
    .info-block__coach-title {
        font-size: 64px;
        line-height: 89px;
    }
}

.info-block__school-title {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: uppercase;
}


.info-block__full-btn,
.about-author__call-btn,
.call-btn,
.auth-btn,
.pay-btn {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.3));
    border-radius: 5px;
        background: #FDCD00;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
        text-align: center;
    padding: 10px;
    display: inline-block;
}

.info-block__full-btn__video {
    max-width: 485px;
    height: 68px;
}

.info-block__empty-btn {

    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    width: 339px !important;
    box-sizing: border-box;
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.3));

}

.info-block__empty-btn__yellow {
    border: 2px solid #FDCD00;
    color: #FDCD00;
    font-size: 18px;
    width: 339px;
    height: 51px;
}

.info-block__empty-btn__green {
    border: 2px solid #5E801E;
    color: #5E801E;
    font-size: 24px;
}


.info-block__call-btn,
.call-btn,
.pay-btn {
    box-shadow: 5px 5px 20px #000000;
}

.pay-btn {
    justify-content: center;
}

.call-btn {
    width: 247px;
    height: 48px;
    text-align: center;
}

.bg-star {
    background-image: url(../img/Header-logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (min-device-width: 1000px) {
    .about-author1 {

        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}


@media (min-width: 260px) and (max-width: 999px) {
    .small-bg {
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

}

.about-author__title,
.about-coaching__title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.about-author__name,
.about-coaching__name {
    font-family: Montserrat Condensed, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.about-author__name__title {
    font-size: 24px;
}

.about-author__name__info {
    font-size: 18px;
}

.about-author__list {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
    color: #4d4d4d;
}

.about-author__info {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
    color: #000000;
   }

.about-author__call-btn {
    width: 279px;
    height: 54px;
    font-family: Roboto Condensed, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0;
    text-align: center;
}

@media screen and (min-device-width: 1000px) {
    .about-author__block {
      /*  white-space: nowrap;*/
    }
}

.green-check {
    color: #5E801E;
    display: inline-block;
    vertical-align: bottom;
}

.text-content {
    z-index: 10;
}

.school-product__title {
    font-family: Roboto Condensed, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.section-product__title {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.coaching-block {
    width: 100%;
}

.coaching-block__title {
    font-family: Roboto Condensed, sans-serif;
    letter-spacing: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: #FCF347;
    text-transform: uppercase;
}

.coaching-block__info {
    font-family: Roboto Condensed, sans-serif;
    letter-spacing: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
}

.lesson-txt {
    font-family: Roboto, sans-serif;
    letter-spacing: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #FFFFFF;
}

.skill-title {
    font-family: Roboto Condensed, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FCF347;
}

.yellow-star {
    color: #FCF347;
}

.module {
    background: #E7BCDD;
    border-radius: 40px;
    padding: 40px;
}

.module__left {
    text-align: left;
}

.module__righr {
    text-align: right;
}

.module__module-number {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #4d4d4d;
    opacity: 0.7;
}

@media screen and (min-device-width: 1000px) {
    .module__module-period {
        font-size: 18px;
        line-height: 21px;
        margin-top: -10px;
    }
}

.module__module-period {
    font-family: Roboto Condensed, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 17px;
    letter-spacing: 0;
    text-align: right;
    color: #4d4d4d;
    opacity: 0.7;
    text-transform: uppercase;
}

.module__module-title {
    font-family: Roboto Condensed, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
    color: #4d4d4d;
    opacity: 0.7;
    text-transform: uppercase;
}

.module__module-list {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #000000;
    opacity: 0.7;
}

.module__module-info {
    font-family: Roboto Condensed, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
}

.question-txt {
    font-family: Roboto Condensed, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    text-align: left;
    color: #FCF347;
}

.question {
    font-family: Roboto Condensed, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.7;
    color: #000000;
    margin-top: 120px;
}

.footer,
.header {
    background-color: #5E801E;
}

.top-btn {
    border: 2px solid #FDCD00;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0;
    z-index: 2;
    position: fixed;
    top: 90%;
    right: 5%;
}


@media screen and (max-device-width: 1020px) {
    #top-btn:active,
    #top-btn:focus {
        border: unset;
    }

    .btn-couching {
        width: 320px !important;
    }

    .top-btn {
        border-radius: 3px;
        background: #FCF347;
        opacity: 0.5;
    }



}

@media screen and (max-device-width: 1550px) {
    .top-btn {
        top: 92%;
        right: 0;
    }


}

@media screen and (min-device-width: 1140px) {
    .btn-list {
        display: flex;
        justify-content: center;
    }


}

.omb_authTitle {
    color: #4d4d4d;
}

.footer__footer-copyright {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.7);
    opacity: 0.5;
}


.about-coaching__question,
.about-coaching__time,
.life-coaching__program__module,
.about-coaching__lesson {
    font-family: Roboto Condensed, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    opacity: 0.7;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
}

.about-coaching__question,
.life-coaching__program__module {
    color: #000000;
}


.life-coaching__program__title {
    font-family: Oswald, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.life-coaching__coaching-list__info,
.life-coaching__coaching-list__date {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
}

.life-coaching__program__article {
    font-family: Roboto Condensed, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
}


@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*=col-] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
}

.omb_login .omb_socialButtons a {
    color: white;
    opacity: 0.9;
}

.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity: 1;
}

.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #000000;
    opacity: 0.7;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
    width: 2em;
}


@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
        margin-top: 10px;
    }
}

.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video__button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: none;
    padding: 0;
    width: 68px;
    height: 48px;
    border: none;
    background-color: transparent;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.video__button-shape {
    fill: #ffffff;
    fill-opacity: 0.3;
    width: 130px;
    height: 130px;
}

.video__button-icon {
    fill: #ffffff;
    border-radius: 100px;
}

.video__button:focus {
    outline: none;
}

.video:hover .video__button-shape,
.video__button:focus .video__button-shape {
    fill: rgba(255, 255, 255, 0.3);
    fill-opacity: 1;
}


/* Enabled */
.video--enabled {
    cursor: pointer;
}

.video--enabled .video__button {
    display: block;
}

.page {
    margin: 0;
}

input .stage__stage-txt {
    border-radius: 100px;
}

.main-content {
    margin-bottom: 158px;
}

div label .checkbox {
    padding-right: 8px !important;
}

@media screen and (max-device-width: 320px) {
    .main-nav__nav-button,
    .about-author__call-btn {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        padding: 0;
        width: 229px;
        height: 46px;
    }
    .about-author__info {
        font-size: 10px;
    }

    .main-nav__nav-link {
        font-size: 10px;
    }
}

@media screen and (max-device-width: 670px) {
    .secondary-navigation {
        padding-bottom: 40px;
    }

    .info-block__full-btn {
        font-size: 13px;
        margin-top: 20px;
    }

    .about-coaching__title {
        margin-top: 40px;
    }

    .about-coaching__name {
        margin-bottom: 20px;
    }

    .info-block__coach-title {
        font-size: 38px;
    }

    .main-nav__nav-link.nav_small {
        font-size: 12px;
        padding-left: .25rem!important;
        padding-right: .25rem!important;
    }
     .nav-link {
    padding: .3rem 0 !important;
     }

}

@media screen and (max-device-width: 350px) {
    .info-block__info-logo {
        display: none;
    }

    .middle .box {
        width: 100px;
    }

    .middle .box span {
        position: absolute;
        left: 0;
        right: 0;
        font-size: 12px;
    }
}

  .hide {
     display: none;
 }

 .first1 {
     display: block;
  }
 .btn-couching {
     width: 380px;
     height: 53px;
     margin: 0;
     font-family: Montserrat, sans-serif;
     font-style: normal;
     font-weight: 800;
     font-size: 15px;
     text-transform: uppercase;
     color: #FFFFFF;
     border: none;
     }

ul .col-btn {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.btn-couching_1 {
    background: rgba(94, 128, 30, 0.7);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px 0 0 5px;
}


.btn-couching_2 {
    background: rgba(94, 128, 30, 0.7);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0;
}

.btn-couching_3 {
    background: #5E801E;
    border-radius: 0 5px 5px 0;
}



.number {
    width: 14px;
    height: 28px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #5E801E;
}
.about-know {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.price {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;
    color: #5E801E;
}

.example {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.cross_info {
    font-family: Montserrat, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.bg-page {
    background: rgba(94, 128, 30, 0.3);
}


















